/**
CSS initial layout courtesy of Keith J. Grant.
Go read his book, it's good.
*/
@layer reset, theme, global, layout, modules, utility;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: unset;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-width: 100%;
        height: auto;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}

@layer theme {
    @property --pos-scale {
        syntax: "<length>";
        initial-value: 40vh;
        inherits: true;
    }

    :root {
        --font-color: white;
        --background-gradient: radial-gradient(circle var(--pos-scale) at 50% 100%, oklch(0.83 0.1505 205.41), black 150%);
        font-family: Arial, Helvetica, sans-serif;

    }

    .bg-img {
        margin: 0;
        padding: 0;
        animation-name: gradient-fade;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        --background-gradient: radial-gradient(circle var(--pos-scale) at 50% 100%, oklch(0.83 0.1505 205.41), black 150%);
        background-image: var(--background-gradient);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        min-height: 100%;
    }
}

@layer global {

    body, html {
        height: 100%;
    }

    body {
        color: var(--font-color);
    }

    @keyframes gradient-fade {
        0% {
            --pos-scale: 40vh;
        };
        50% {
            --pos-scale: 80vh;
        };
    }
    
    footer {
        text-align: center;
        padding: 1em;
        background-color: black;
        background-size: cover;
        background-image: linear-gradient(#222222 #000000)
    }
}

@layer layout {
    .center-delta-text {
        padding-top: 1.2em;
        padding-bottom: 0.4em;
        text-align: center;
        font-size: 6em;
        margin: 0;

        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        text-shadow: #000000A0 1px -1px;
        animation:
            typing 3.5s steps(80, end);

            
    }

    @keyframes typing {
        from {width: 0}
        to {width: 100%}
    }
    
    .box-text {
        margin: 0;
        text-align: center;
        font-size: 2em;
        padding-left: 10%;
        padding-right: 10%;
        text-shadow: #00000090 1px -1px;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 2em;
        padding: 30px;

    }

    @keyframes hop-up {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(0, -10px);
        }
    }

    .project-card:hover {
        animation: hop-up 0.2s linear 1;
        transform: translate(0, -10px);
    }

    .project-card {
        display: flex;
        flex-direction: column;
    }

    .project-card > a {
        margin-top: auto;
    }

    .project-card > img {
        max-height: 300px;
    }

    @media (max-width: 400px) {
        .center-delta-text {
            font-size: 2.3em;
        }

        .box-text {
            font-size: 1.3em;

            border-style: solid;
            border-bottom: 10em #000;
        }
        
    }
}

@layer modules {

    .written-segment {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .written-segment p {
        margin-top: 3em;
        text-align: center;
        max-width: 1080px;
        font-size: 1.2em;
        text-shadow: #00000090 1px -1px;
    }
    
    .written-segment a {
        text-decoration: underline;
        color:white;
    }

    .written-segment a:hover {
        color: darkcyan;
    }

    .project-card {
        padding: 0.5em;
        margin-inline: auto;
        background-color: rgb(39, 38, 38);
        
        border-radius: 1em;
        
    }

    .project-card > h4 {
        padding: 0.1em;
        font-size: 1.4em;
    }

    .project-card > p {
        padding: 0.1em;
    }

    .project-card > a {
        text-decoration: none;
        color: cyan;
    }

    .proj-p {
        font-size: 1.2em;
        padding: 0.4em;
        line-height: 1.3em;
    }

    .navigation {
        position: relative;
        padding-bottom: 2em;
    }

    .nav-toggle {
        position: absolute;
        top: -1.2em;

        border: 0;
        background-color: transparent;

        font-size: 3em;
        width: 1em;
        height: 1em;
        line-height: 0.4;
        text-indent: 5em;
        white-space: nowrap;
        overflow: hidden;
    }

    .nav-toggle::after {
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        display: block;
        content: "\2261";
        color: #fff;
        text-indent: 0;
    }

    .nav-dropdown {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
    }

    .navigation.active .nav-dropdown {
        display: block;
    }

    @media (min-width: 560px) {
        .nav-toggle {
            display: none;
        }

        .nav-dropdown {
            display: block;
            position: static;
        }
    }

    .nav-menu {
        margin: 0;
        padding-left: 0;
        border: 1px solid #ccc;
        list-style: none;
        background-color: #000;
        color: #fff;
        list-style: none;

    }

    .nav-menu > li + li {
        border-top: 1px solid #ccc;

    }

    .nav-menu > li > a {
        display: block;
        padding: 0.8em 1em;
        color: #fff;
        font-weight: normal;
        text-decoration: none;
        
    }

    .page-header {
        padding-left: 4.5em;
    }

    @media (min-width: 560px) {
        .page-header {
            padding-left: 1em;
        }

        .nav-menu {
            display: flex;
            border: 0;
            padding-inline: 1em;
        }

        .nav-menu > li {
            flex: 1;
        }

        .nav-menu > li + li {
            border: 0;
        }

        .nav-menu > li > a {
            padding: 0.3em;
            text-align: center;
        }
    }

    .page-header > h1 {
        margin: none;
    }

    .title > h1 {
        margin: 0%;
    }

    .page-header {
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: black;
        border-radius: 10px;
    }
}

@layer utilities {
}